@charset "UTF-8";
body {
  margin: 0px;
  font-family: 'Roboto', serif;
}

h3 {
  font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: #ffffff;
}

.content {
  z-index: 10;
}

#loaderohmyfood {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 121, 218, 0.7);
  -webkit-animation: fadeout 2s forwards;
          animation: fadeout 2s forwards;
}

#loader {
  position: relative;
  top: 45%;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 1s linear 100ms;
  animation: spin 1s linear 100ms;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 1.2s linear 100ms;
  animation: spin 1.2s linear 100ms;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 2s linear 200ms;
  animation: spin 2s linear 200ms;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

header {
  -webkit-box-shadow: 0px 6px 6px #c5c5c5;
          box-shadow: 0px 6px 6px #c5c5c5;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > img {
  width: 45%;
  margin: auto;
}

.bannière {
  background-color: #f6f6f6;
  padding-bottom: 20px;
}

.bannière > form {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannière > form > .fas {
  margin-right: 20px;
  padding-top: 11px;
}

.bannière > form > input {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  border-style: none;
  background-color: #eaeaea;
  width: 120px;
  height: 40px;
}

.bannière > h1 {
  text-align: center;
  margin: 20px 60px;
}

.bannière > h2 {
  text-align: center;
  margin: 10px 30px;
  font-size: 1em;
  font-weight: lighter;
}

.bannière p {
  margin: 10px auto;
  color: #ffffff;
}

.bannière div {
  width: 219px;
  margin: 30px auto;
  padding: 5px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.bannière div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 6px #aeaeae;
          box-shadow: 6px 6px 6px #aeaeae;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(to top, #a16be0, #ff93e1);
}

.fonctionnement {
  margin-bottom: 70px;
}

.fonctionnement > h2 {
  margin-left: 15px;
}

.fonctionnement > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  font-weight: bold;
  background-color: #f6f6f6;
  margin: 10px auto;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.fonctionnement > div > p:nth-child(1) {
  color: #ffffff;
  background-color: #9356DC;
  padding: 3px 8px;
  margin: 22px 0px;
  border-radius: 15px;
  position: relative;
  right: 15px;
}

.fonctionnement > div > i {
  margin: 25px 5px;
  color: grey;
}

.fonctionnement > div > p:nth-child(3) {
  width: 200px;
  text-align: center;
  margin: 25px 10px 25px 20px;
}

.fonctionnement > div:hover {
  background-color: #fdc4ed;
  -webkit-box-shadow: 6px 6px 6px #aeaeae;
          box-shadow: 6px 6px 6px #aeaeae;
}

.fonctionnement > div:hover i {
  color: #9963db;
}

.restaurant {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 50px;
}

.restaurant > h2 {
  margin-left: 15px;
}

.restaurant > .card {
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  margin: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.restaurant > .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  color: #ffffff;
  background-color: #f6f6f6;
  -webkit-box-shadow: 6px 6px 6px #d1d1d1;
          box-shadow: 6px 6px 6px #d1d1d1;
}

.restaurant > .card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  z-index: 1;
}

.restaurant > .card .vignette {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: #008766;
  background-color: #99E2D0;
  line-height: 2em;
  font-weight: bold;
  width: 80px;
  text-align: center;
}

.restaurant > .card .texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
}

.restaurant > .card .texte .titres {
  width: 50%;
  margin: 10px;
  line-height: 0.8em;
}

.restaurant > .card .texte .titres .titre1 {
  font-weight: bold;
}

.restaurant > .card .texte .icons {
  padding-right: 10px;
}

.restaurant > .card .texte .icons .icon1 {
  position: absolute;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.restaurant > .card .texte .icons .icon1:hover {
  opacity: 0;
}

.restaurant > .card .texte .icons .icon1:hover + .icon2 {
  opacity: 1;
}

.restaurant > .card .texte .icons .icon2 {
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer {
  background-color: #353535;
  padding: 15px;
  color: #ffffff;
}

footer > div {
  font-size: 0.9em;
  line-height: 0.8;
}

footer > div > p > .fa-utensils {
  margin-right: 10px;
}

footer > div > p > .fa-hands-helping {
  margin-right: 10px;
  font-size: 0.6em;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .fonctionnement div:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
  .fonctionnement div:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .fonctionnement div:nth-child(4) {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
  }
  footer > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  footer > div > p:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  footer > div > p:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

@media screen and (min-width: 1024px) {
  header > img {
    max-width: 500px;
  }
  .fonctionnement {
    display: -ms-grid;
    display: grid;
    gap: 0px 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 45px 1fr;
        grid-template-rows: 45px 1fr;
    padding: 20px;
    margin-bottom: 50px;
  }
  .fonctionnement h2 {
    margin: 0px;
  }
  .fonctionnement div {
    width: 100%;
  }
  .fonctionnement div p:nth-child(3) {
    margin: auto;
  }
  .fonctionnement div:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .fonctionnement div:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .fonctionnement div:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant .card {
    width: 45%;
    margin: 20px auto;
  }
  footer > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  footer > div > p:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  footer > div > p:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
  }
  footer > div > p:nth-child(4) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
  }
}
/*# sourceMappingURL=style.css.map */