@charset "UTF-8";
body {
  margin: 0px;
  font-family: 'Roboto', serif;
}

h3 {
  font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: #ffffff;
}

.header {
  -webkit-box-shadow: 0px 6px 6px #c5c5c5;
          box-shadow: 0px 6px 6px #c5c5c5;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 45%;
  margin: auto;
}

.bannière {
  background-color: #f6f6f6;
  padding-bottom: 20px;
}

.bannière__form {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannière__form__iconemap {
  margin-right: 20px;
  padding-top: 11px;
}

.bannière__form__lieu {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  border-style: none;
  background-color: #eaeaea;
  width: 120px;
  height: 40px;
}

.bannière__titre {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.bannière__soustitre {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.bannière__bouton {
  width: 219px;
  margin: 30px auto;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
}

.bannière__bouton__txt {
  padding: 15px;
  color: #ffffff;
}

.fonctionnement {
  margin-bottom: 70px;
}

.fonctionnement__titre {
  margin-left: 15px;
}

.fonctionnement__pickup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  font-weight: bold;
  background-color: #f6f6f6;
  margin: 10px auto;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
}

.fonctionnement__pickup__icon {
  margin: 25px 5px;
  color: grey;
}

.fonctionnement__pickup__fctnumber {
  color: #ffffff;
  background-color: #9356DC;
  padding: 3px 8px;
  margin: 22px 0px;
  border-radius: 15px;
  position: relative;
  right: 15px;
}

.fonctionnement__pickup__txt {
  width: 200px;
  text-align: center;
  margin: 25px 10px 25px 20px;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
}

.restaurant__titre {
  margin-left: 15px;
}

.restaurant__card {
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  margin: 15px;
}

.restaurant__card__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.restaurant__card__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
}

.restaurant__card__txt__nomlieu {
  width: 50%;
  margin: 10px;
  line-height: 0.8em;
}

.restaurant__card__txt__nomlieu__titre {
  font-weight: bold;
}

.restaurant__card__txt__icon {
  font-size: 2em;
  color: grey;
  margin: 10px;
}

.footer {
  background-color: #353535;
  padding: 15px;
  color: #ffffff;
}

.footer__links {
  font-size: 0.9em;
  line-height: 0.8;
}

.footer__links__link__icon1 {
  margin-right: 10px;
}

.footer__links__link__icon2 {
  margin-right: 10px;
  font-size: 0.6em;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .fonctionnement__pickup:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
  .fonctionnement__pickup:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .fonctionnement__pickup:nth-child(4) {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
  }
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .footer__links__link:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  .footer__links__link:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    max-width: 500px;
  }
  .fonctionnement {
    display: -ms-grid;
    display: grid;
    gap: 0px 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 45px 1fr;
        grid-template-rows: 45px 1fr;
    padding: 20px;
    margin-bottom: 50px;
  }
  .fonctionnement__titre {
    margin: 0px;
  }
  .fonctionnement__pickup {
    width: 100%;
  }
  .fonctionnement__pickup__txt {
    margin: 25px auto;
  }
  .fonctionnement__pickup:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .fonctionnement__pickup:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .fonctionnement__pickup:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__titre {
    width: 100%;
  }
  .restaurant__card {
    width: 45%;
    margin: 20px auto;
  }
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .footer__links__link:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  .footer__links__link:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
  }
  .footer__links__link:nth-child(4) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
  }
}
/*# sourceMappingURL=style.css.map */