@charset "UTF-8";
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  margin: 0px;
  font-family: 'Roboto', serif;
  background-color: #f6f6f6;
}

h1, h3 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-size: 1.2em;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: #ffffff;
}

header {
  padding-top: 20px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > img {
  width: 45%;
  margin: auto;
}

header > a {
  margin: auto 10px;
}

.bannière {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannière > img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  bottom: 75px;
  z-index: 1;
}

.carte > .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte > .titre > h2 {
  margin-left: 20px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.6em;
}

.carte > .titre > .icons {
  padding-right: 10px;
  margin-left: 30px;
}

.carte > .titre > .icons > .far {
  position: absolute;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.carte > .titre > .icons > .far:hover {
  opacity: 0;
}

.carte > .titre > .icons > .far:hover + .fas {
  opacity: 1;
}

.carte > .titre > .icons > .fas {
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.carte .card > h2 {
  margin-left: 20px;
}

.carte .card > .tiret {
  margin-left: 20px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.carte .card > .suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #cecece;
          box-shadow: 0px 6px 6px #cecece;
  overflow: hidden;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

.carte .card > .suggestion:nth-child(1n) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.carte .card > .suggestion:nth-child(2n) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.carte .card > .suggestion:nth-child(3n) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.carte .card > .suggestion:hover > .prix {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carte .card > .suggestion:hover > .slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carte .card > .suggestion:hover > .slide > .fa-check-circle {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.carte .card > .suggestion > .description {
  margin-left: 10px;
  width: 80%;
}

.carte .card > .suggestion > .description > .nom {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  width: 235px;
}

.carte .card > .suggestion > .description > .style {
  font-size: 0.9em;
}

.carte .card > .suggestion > .prix {
  height: 15px;
  margin-top: 50px;
  margin-right: 20px;
  text-align: center;
  vertical-align: baseline;
  font-weight: bold;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.carte .card > .suggestion > .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 25px 25px 0px;
  width: 100px;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.carte .card > .suggestion > .slide .fa-check-circle {
  color: white;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-out 100ms;
  transition: -webkit-transform 500ms ease-out 100ms;
  transition: transform 500ms ease-out 100ms;
  transition: transform 500ms ease-out 100ms, -webkit-transform 500ms ease-out 100ms;
}

.carte__submit {
  width: 219px;
  margin: 60px auto 0px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.carte__submit__txt {
  padding: 15px;
  color: #ffffff;
}

.carte__submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 6px #aeaeae;
          box-shadow: 6px 6px 6px #aeaeae;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(to top, #a16be0, #ff93e1);
}

footer {
  background-color: #353535;
  padding: 15px;
  color: #ffffff;
}

footer > div {
  font-size: 0.9em;
  line-height: 0.8;
}

footer > div > p > .fa-utensils {
  margin-right: 10px;
}

footer > div > p > .fa-hands-helping {
  margin-right: 10px;
  font-size: 0.6em;
}

@media screen and (min-width: 768px) and (max-width: 1238px) {
  header > a {
    margin-left: 20px;
  }
  header > img {
    margin: auto;
  }
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 50px 3px 110px 110px 110px;
        grid-template-rows: 50px 3px 110px 110px 110px;
  }
  .card > h2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: auto;
  }
  .card .tiret:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card .suggestion:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .card .suggestion:nth-child(4) {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .card .suggestion:nth-child(5) {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  footer > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  footer > div > p:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  footer > div > p:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

@media screen and (min-width: 1239px) {
  header > a {
    margin-left: 20px;
  }
  header > img {
    max-width: 500px;
  }
  .carte {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 100px 1fr 140px;
        grid-template-rows: 100px 1fr 140px;
  }
  .carte .titre {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
  }
  .carte .card:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .carte .card:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .carte .card:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .carte__submit {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 50px;
  }
  .carte__submit__txt {
    padding: 0px;
    color: #ffffff;
  }
  footer > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  footer > div > p:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  footer > div > p:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  footer > div > p:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
  }
  footer > div > p:nth-child(4) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
  }
}
/*# sourceMappingURL=style.css.map */