$primaire: #9356DC;
$secondaire: #FF79DA ;
$tertiaire: #99E2D0;

@mixin marginleft {
    margin-left:20px;
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}
body
{
    margin:0px;
    font-family: 'Roboto', serif;
    background-color:#f6f6f6;
}
h1,h3
{
    font-family: 'Shrikhand', cursive;
}
h2
{
    font-size:1.2em;
    font-weight: lighter;
}
a
{
    text-decoration:none;
    color:black;
}
footer a
{
    color:#ffffff;
}
header
{
    padding-top:20px;
    padding-bottom:15px;
    display:flex;
    >img
    {
        width:45%;
        margin:auto;
    }
    >a
    {
        margin:auto 10px;
    }
}
.bannière
{
    width:100%;
    object-fit: cover;
    >img
    {
        width:100%;
        height:270px;
        object-fit: cover;
    }
}
.carte
{
    background-color:#f6f6f6;
    border-radius:25px 25px 0px 0px;
    position:relative;
    bottom:75px;
    z-index:1;
    >.titre
    {
        display:flex;
        align-items:center;
        >h2
        {
            @include marginleft;
            font-family: 'Shrikhand', cursive;
            font-size:1.6em;
        }
        >.icons
        {
            padding-right:10px;
            margin-left:30px;
            >.far
            {
                position:absolute;
                z-index:1;
                opacity:1;
                transition:all 100ms;
                &:hover
                {
                    opacity:0;
                }
                &:hover + .fas
                {
                    opacity:1;
                }
            }
            >.fas
            {
                opacity:0;
                background: linear-gradient(to top,$primaire,$secondaire);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color:transparent; 
                transition: all 500ms;
            }
        }
    }
    .card
    {
        >h2
        {
            @include marginleft;
        }
        >.tiret
        {
            @include marginleft;
            height:3px;
            width:40px;
            background-color:$tertiaire;
        }
        >.suggestion
        {
            display:flex;
            margin:10px;
            max-width:380px;
            border-radius:25px;
            box-shadow:0px 6px 6px #cecece;
            overflow: hidden;
            -webkit-animation: fadein 3s;
            animation: fadein 3s;
            &:nth-child(1n)
            {
                animation-delay: 0.1s;
                -webkit-animation-delay: 0.1s;
            }
            &:nth-child(2n)
            {
                animation-delay: 0.2s;
                -webkit-animation-delay: 0.2s;
            }
            &:nth-child(3n)
            {
                animation-delay: 0.3s;
                -webkit-animation-delay: 0.3s;
            }
            &:hover 
            {
                cursor:pointer;
                .description .styleprix .prix
                {
                    transform: translateX(-20px);
                    margin-left:20px;
                }
                & >.slide
                {
                    transform: translateX(0);
                    & >.fa-check-circle
                    {
                        transform: rotate(0turn);
                    }
                }
            }
            >.description
            {
                display:flex;
                flex-direction:column;
                margin-left:10px;
                width:80%;
                >.nom
                {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight:bold;
                }
                >.styleprix
                {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom:10px;
                    width:290px;
                    >.style
                    {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin:0;
                        font-size:0.9em;
                    }
                    >.prix
                    {   
                        width:30px;
                        height:15px;
                        margin:0px;
                        text-align:center;
                        font-weight:bold;
                        transform: translateX(50px);
                        transition: transform 400ms ease-in-out;
                    }
                }
            }
            >.slide
            {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$tertiaire;
                border-radius:0px 25px 25px 0px;
                width:100px;
                transform: translateX(110px);
                transition: transform 400ms ease-out;
                .fa-check-circle
                {
                    color:white;
                    transform: rotate(-1turn);
                    transition: transform 500ms ease-out 100ms;
                }
            }
        }
    }
    &__submit
    {
        width:219px;
        margin:60px auto 0px;
        text-align:center;
        background: linear-gradient(to top,$primaire,$secondaire);
        border-radius:25px;
        box-shadow:0px 6px 6px #e4e4e4;
        transform:scale(1);
        transition:all 300ms;
        &__txt
        {
            padding:15px;
            color:#ffffff;
        }
        &:hover
        {
            transform:scale(1.05);	
            box-shadow:6px 6px 6px #aeaeae;
            background: linear-gradient(to top,lighten($primaire,5%),lighten($secondaire,5%));
        }
    }
}
footer
{
    background-color:#353535;
    padding:15px;
    color:#ffffff;
    >div
    {
        font-size:0.9em;
        line-height:0.8;
        >p
        {
            >.fa-utensils
            {
                margin-right:10px;
            }
            >.fa-hands-helping
            {
                margin-right:10px;
                font-size:0.6em;
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:1238px)
{
    header
    {
        >a
        {
            @include marginleft;
        }
        >img
        {
            margin:auto;
        }
    }
    .card
    {
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:50px 3px 110px 110px 110px;
        >h2
        {
            grid-row:1;
            grid-column:1;
            margin:auto;
        }
        .tiret:nth-child(2)
        {
            grid-row:2;
            grid-column:1;
        }
        .suggestion:nth-child(3)
        {
            grid-row:3;
            grid-column:2/span 2;
        }
        .suggestion:nth-child(4)
        {
            grid-row:4;
            grid-column:2/span 2;
        }
        .suggestion:nth-child(5)
        {
            grid-row:5;
            grid-column:2/span 2;
        }
    }
    footer
    {
        >div
        {
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr 1fr;
            >p:nth-child(1)
            {
                grid-row:1;
                grid-column:1/span 1;
            }
            >p:nth-child(2)
            {
                grid-row:2;
                grid-column:1/span 1;
            }
            >p:nth-child(3)
            {
                grid-row:1;
                grid-column:2/span 1;
            }
            >p:nth-child(4)
            {
                grid-row:2;
                grid-column:2/span 1;
            }
        }
    }
}
@media screen and (min-width:1239px)
{
    header
    {
        >a
        {
            @include marginleft;
        }
        >img
        {
            max-width:500px;
        }
    }
    .carte
    {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:100px 1fr 140px;
        .titre
        {
            grid-row:1;
            grid-column:1/span 3;
        }
        .card:nth-child(2)
        {
            grid-row:2;
            grid-column:1;
        }
        .card:nth-child(3)
        {
            grid-row:2;
            grid-column:2;
        }
        .card:nth-child(4)
        {
            grid-row:2;
            grid-column:3;
        }
        &__submit
        {
            grid-row:3;
            grid-column:2;
            height:50px;
            &__txt
            {
                padding:0px;
                color:#ffffff;
            }
        }
    }
    footer
    {
        >div
        {
            display:grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-template-rows:1fr;
            >p:nth-child(1)
            {
                grid-row:1;
                grid-column:1/span 1;
            }
            >p:nth-child(2)
            {
                grid-row:1;
                grid-column:2/span 1;
            }
            >p:nth-child(3)
            {
                grid-row:1;
                grid-column:3/span 1;
            }
            >p:nth-child(4)
            {
                grid-row:1;
                grid-column:4/span 1;
            } 
        }
    }
}