@charset "UTF-8";
body {
  margin: 0px;
  font-family: 'Roboto', serif;
  background-color: #f6f6f6;
}

h1, h3 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-size: 1.2em;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: #ffffff;
}

.header {
  padding-top: 20px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 45%;
  margin: auto;
}

.header__arrow {
  margin-top: 6px;
}

.bannière {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannière__img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  bottom: 75px;
  z-index: 1;
}

.carte__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte__titre__palette {
  margin-left: 20px;
}

.carte__titre__icons {
  padding-right: 10px;
}

.carte__titre__icons__icon1 {
  position: absolute;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.carte__titre__icons__icon1:hover {
  opacity: 0;
}

.carte__titre__icons__icon1:hover + .carte__titre__icons__icon2 {
  opacity: 1;
}

.carte__titre__icons__icon2 {
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.carte__card__titre {
  margin-left: 20px;
}

.carte__card__tiret {
  margin-left: 20px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.carte__card__suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #cecece;
          box-shadow: 0px 6px 6px #cecece;
}

.carte__card__suggestion:hover > .carte__card__suggestion__slide {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.carte__card__suggestion__description {
  margin-left: 10px;
  line-height: 0.9em;
}

.carte__card__suggestion__description__nom {
  font-weight: bold;
  font-size: 1.1em;
}

.carte__card__suggestion__prix {
  height: 15px;
  margin-right: 20px;
  margin-top: 50px;
  vertical-align: baseline;
  font-weight: bold;
}

.carte__card__suggestion__slide {
  background-color: #99E2D0;
  border-radius: 0px 25px 25px 0px;
  width: 100px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.carte__submit {
  width: 219px;
  margin: 60px auto 0px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 6px 6px #e4e4e4;
          box-shadow: 0px 6px 6px #e4e4e4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.carte__submit__txt {
  padding: 15px;
  color: #ffffff;
}

.carte__submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 6px #aeaeae;
          box-shadow: 6px 6px 6px #aeaeae;
  background: -webkit-gradient(linear, left bottom, left top, from(#9963db), to(#ff98e2));
  background: linear-gradient(to top, #9963db, #ff98e2);
}

.footer {
  background-color: #353535;
  padding: 15px;
  color: #ffffff;
}

.footer__links {
  font-size: 0.9em;
  line-height: 0.8;
}

.footer__links__link__icon1 {
  margin-right: 10px;
}

.footer__links__link__icon2 {
  margin-right: 10px;
  font-size: 0.6em;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: auto;
  }
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .footer__links__link:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  .footer__links__link:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    max-width: 500px;
  }
  .carte {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 100px 1fr 140px;
        grid-template-rows: 100px 1fr 140px;
  }
  .carte__titre {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
  }
  .carte__card:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .carte__card:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .carte__card:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .carte__submit {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 50px;
  }
  .carte__submit__txt {
    padding: 0px;
    color: #ffffff;
  }
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .footer__links__link:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/span 1;
  }
  .footer__links__link:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
  }
  .footer__links__link:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/span 1;
  }
  .footer__links__link:nth-child(4) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
  }
}
/*# sourceMappingURL=style.css.map */